/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */

.collage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collage img {
    margin: 20px;
    flex-basis: 20%;
}